CompileFlags:
  # Where compile_commands.json lives:
  CompilationDatabase: build

Index:
  Background: true

Diagnostics:
  ClangTidy:
    Add: ["clang-analyzer-*", "bugprone-*", "misc-*", "performance-*", "portability-*", "readability-*"]
    Remove: ["readability-magic-numbers"]
